{{define "header"}}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="top.html" style="color: #FFFFFF;">
            <img src="images/title0.png" alt="フレンチ食堂ママン" style="width:170px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html" style="color: #FFFFFF;">ホーム</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: #FFFFFF;">
                        メニュー
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="lunch.html">オードブル</a></li>
                        <li><a class="dropdown-item" href="lunch.html">ランチ</a></li>
                        <li><a class="dropdown-item" href="lunch.html">ディナー</a></li>
                        <li><a class="dropdown-item" href="lunch.html">単品</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #FFFFFF;">クリスマス</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #FFFFFF;">おせち料理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #FFFFFF;">お持ち帰り</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #FFFFFF;">店舗情報</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{end}}
